MONGODB_URL_KEY=mongodb+srv://username:password@cluster.mongodb.net/dbname
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
ECR_REPOSITORY_NAME=your_ecr_repo_name
AWS_ECR_LOGIN_URI=your_account_id.dkr.ecr.us-east-1.amazonaws.com